
body {
  display: flex;
  justify-content: center;
}

.left-container {
  background-color: #0097e6;
  width: 44%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.player-box {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 40px;
}

.input-player {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #828282;
  width: 317px;
  height: 48px;
  border-radius: 10px;
  padding-left: 15px;
  outline: none;
  transition-duration: 300ms;
}

.input-player-1:focus {
  border: 1px solid #2ba9ea;
  box-shadow: 0 0 5px #000000;
}

.input-player-1 {
  margin-bottom: 20px;
}

.input-player-2 {
  width: 252px;
}

.wrapper-field-player-2 {
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ffffff;

  display: flex;
  align-items: center;
  transition-duration: 300ms;
}

.wrapper-field-player-2:focus-within {
  border: 1px solid #2ba9ea;
  box-shadow: 0 0 5px #000000;
}

.switcher {
  background-color: #2ba9ea;
  width: 56px;
  height: 32px;
  border-radius: 100px;
  padding: 4px;;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.switcher-ball {
  background-color: #ffffff;
  width: 24px;
  height: 24px;
  border-radius: 50px;
}


.match-type-title {
  color: #45F391;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.align-match-type-modes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 317px;
  margin-bottom: 45px;
  color: white;
}

.switcher-match-type {
  background-color: #0097e6;
  width: 56px;
  height: 32px;
  border-radius: 100px;
  border: 1.5px solid #ffffff;
  padding: 2px;;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.play-button {
  background-color: #45F391;
  border: transparent;
  width: 100%;
  height: 54px;
  border-radius: 10px;
  margin-bottom: 44px;
  cursor: pointer;

  font-size: 24px;
  color: #ffffff;
  box-shadow: 0 4px 20px -4px #000000;
}

.play-button:hover {
  background-color: #3CDE8E;
}

.match-history-title {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}

.winner-field {
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-bottom: 20px;
}

.winner-field:last-child {
  margin-bottom: 98px;
}

.winner-box {
  width: 168px;
  height: 50px;
  border-radius: 10px;
  background-color: #ffffff;
  padding-left: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.winner-span {
  color: #45F391;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px
}

.display-winner {
  color: #828282;
  font-size: 14px;
}

.cenary-text {
  font-size: 14px;
  color: #ffffff;
}

.wrapper-small-squares {
  display: flex;
  flex-wrap: wrap;
  width: 51px;
}

.small-squares {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 12px;
  color: #828282;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
}

.restart-button {
  background-color: #ffffff;
  width: 317px;
  height: 54px;
  color: #0097E6;

  border-radius: 10px;
  border: transparent;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
  cursor: pointer;

  box-shadow: 0 4px 20px -4px #000000;
}

.restart-button:hover {
  background-color: #d4ddd0;
}

.center-container {
  background-color: #2ba9ea;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-box {
  background-color: #ffffff;
  width: 400px;
  height: 100px;
  border-radius: 15px;
  margin-top: 50px;
}

.main-title {
  color: #0097E6;
  font-size: 24px;
  font-weight: 700;
  margin-top: 13px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.align-score-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.score {
  color: #0097E6;
  font-size: 48px;
  font-weight: 700;
}

.title-winner {
  color: #828282;
  font-weight: 500;
  margin: 0 30px;
}

.battlefield {
  margin-top: 70px;
  margin-bottom: 65px;
  width: 510px;
  height: 510px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.big-square {
  background-color: #ffffff;
  color: #828282;
  width: 160px;
  height: 160px;
  border-radius: 15px;
  font-size: 130px;
  font-weight: 700;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.right-container {
  background-color: #0097E6;
  width: 44%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.history-move-title {
  color: #ffffff;
  font-weight: 700;
  margin-top: 66px;
}

.history-move-box {
  margin-top: 31px;
}

.history-moves {
  background-color: #ffffff;
  width: 317px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;

  display: flex;
}

.history-moves:last-child {
  margin-bottom: 143px;
}

.moves-letter {
  color: #828282;
  font-size: 48px;
  font-weight: 700;
  margin-left: 10px;
  margin-right: 16px;
}

.moves-player {
  margin-top: 8px;
  color: #828282;
}

.moves-paragraph {
  margin-top: 4px;
  color: #0097E6;
}